.about {
    width: 1021px;
    height: 341px;
    margin: 0 auto;
    background-color: #2eb397;
}
.image {
    padding-top: 56px;
    padding-left: 10px;
    float: left;
}
.line {
    float: left;
    border-left:  1px solid #219d83; 
    height: 316px;
    margin-left: 99px;
    margin-top: 12px;
}
.firstr {
    width: 180px;
    height: 210px;
    margin: 10px;
    transform: rotate(120deg);
    overflow: hidden;
    visibility: hidden;
}
.secondr {
    width: 100%;
    height: 100%;
    visibility: hidden;
    transform: rotate(-60deg);
    overflow: hidden;
}
.thirdr {
    width: 100%;
    height: 100%;
    background: url('../images/Image.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    transform: rotate(-60deg);
    overflow: hidden;
    visibility: visible;
    cursor: pointer;
}
.about-text {
    float: left;
    width: 580px;
    padding-top: 65px;
    padding-left: 8px;
}
.about h3 {
    font-size: 30px;
    line-height: 5px;
    color: rgb(215,252,245);
    font-family: "MavenPro-Regular";
    text-align: left;
    font-weight: lighter;
    margin: 10px 0px;
}
.about h4 {
    font-size: 18px;
    line-height: 22px;
    color: rgb(32,129,109);
    font-family: "MavenPro-Regular";
    text-align: left;
    font-size: 18px;
    margin: 0px;
    padding-top: 3px;
    letter-spacing: -0.3px;
}
.about p {
    height: 128px;
    font-size: 12px;
    line-height: 21px;
    color: rgb(215,252,245);
    font-family: "Lato-Light";
    padding-left: 2px;
    letter-spacing: 0px;
    padding-top: 2px;
    font-weight: 400;
    text-align: justify;
}
.social-icon {
    display: flex;
    box-sizing: border-box;
    width: 175px;
    height: 25px;
}
.social-icon i {
    background-color: #abddd7;
    text-align: justify;
    border: 2px solid #a7dbd5;
}
.social-icon a div {
    float: left;
    width: 25px;
    height: 25px;
    margin: 0 auto;
    background-color: #abddd7;
    padding-left: 0px;
    vertical-align: middle;
    text-align: center;
}

.social-icon i:hover {
    background-color: #6ccbbe;
}
.social-icon a div:hover {
    background-color: #6ccbbe;
}
.line2 {
    float: right;
    border-left:  1px solid #219d83; 
    height: 316px;
    padding-right: 11px
}