header {
    height: 64px;
    width: 1021px;
    margin: 0 auto;
    text-align: center;
    background: url('../images/headerBG.png');
}


ul {
    padding: 0;
}
nav {
    padding-top: 27px;
    padding-left: 326px;
    text-align: left;
}
nav a {
    padding-right: 20px;
}
 .test > a:nth-child(3) {
     padding-left: 115px; 
 }
 .navigation a {
    text-transform: uppercase;
    font-size: 10px;
    line-height: 6px;
    color: rgb(255,255,255);
    font-family: "Lato";
    text-decoration: none;
}

.header a:hover {
    font-size: 10px;
    line-height: 6px;
    color: rgb(46,179,152);
    font-family: "Lato";
    text-transform: uppercase;
}

.navigation {
    margin: 0;
    padding-left: 0px;
    float: left;
    display: block;
}
.navigation li {
    display: inline-block;
    padding-left: 45px;
}
.ттnavigation a {
    font-size: 10px;
    line-height: 6px;
    color: rgb(255,255,255);
    font-family: "Lato";
    font-weight: bold;
    text-align: left;
    text-decoration: none;
}
