header {
    height: 64px;
    width: 1021px;
    margin: 0 auto;
    text-align: center;
    background: url('../images/headerBG.png');
}
.logo {
    position: relative;
    width: 90px;
    height: 74px;
    background-image: url('../images/Logo.png');
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 1000;
}
.navigation::before {
    position: absolute;
    top: 63px;
    display: flex;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 25px 45px 0 45px;
    border-color: #323232 transparent transparent transparent;
    z-index: 2000;
}


ul {
    padding: 0;
}

 .test > a:nth-child(3) {
     padding-left: 115px; 
 }
 .navigation a {
    text-transform: uppercase;
    font-size: 10px;
    line-height: 6px;
    color: rgb(255,255,255);
    font-family: "Lato";
    text-decoration: none;
}

.navigation a:hover {
    font-size: 10px;
    line-height: 6px;
    color: rgb(46,179,152);
    font-family: "Lato";
    text-transform: uppercase;
}

.navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 400px;
    margin: auto;
    padding-left: 16px;
}
